.login-container {
  background-color: white;
  border-radius: 10px;
  max-width: 400px;
  margin: 0 auto;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color:black;
  
}

.error-message {
  color: red;
  margin-bottom: 10px;
}

input {
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
}

button:hover {
  background-color: #0056b3;
}

.google-login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.google-login span {
  margin: 10px 0;
}

.google-button {
  background-color: rgb(66, 133, 244);
  color: #fff;
  height: 50px;
  width: 100%;
  border: none;
  text-align: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease;
}

.google-button:hover {
  background-color: rgb(41, 103, 188);
}

.google-button-icon {
  margin-right: 10px;
}

.google-button-text {
  font-weight: 500;
  font-size: 16px;
}
.login-card {
  /* Existing styles */

  color: black; /* Set text color to black */
}

.login-card label {
  color: black; /* Set label text color to black */
}

.form-switch span {
  color: black; /* Set span text color to black */
}

.form-switch button {
  color: white; /* Set button text color to black */
}
